-# used by custom directives to find SVG files within theme directories
- bldg_files_dir = "#{@property.theme_style.root_relative_url}/includes/modules/floor-plan-browser/includes/"
- bldg_imgs_dir = "#{@property.theme_style.root_relative_url}/images/fpb/"



%h1 Floor Plans

-# contains the entire FPB structure
.fpb__module{"ng-app": "fpb"}

  -# contains search filters & breadcrumb nav
  .fpb__upper

    -# search filters
    .fpb__filters{"ng-controller": "FilterController as filters"}

      -# beds/baths filter
      .filter.plan-filter
        %label{for: "plan-select"} Beds / Baths
        %select#plan-select{"ng-model": "filters.filterList.plan", "ng-options": "plan.value as plan.name for plan in filters.plans"}
          %option{selected: true, value: ""} Any Beds/Baths

      -# floors filter
      .filter.floor-filter
        %label{for: "floor-select"} Floor
        %select#floor-select{"ng-model": "filters.filterList.floor", "ng-options": "floor.value as floor.name for floor in filters.floors"}
          %option{selected: true, value: ""} Any Floor

      -# move-in date filter (`dateFilter` directive)
      .filter.date-filter
        %label{for: "date-input"} Move-In Date
        %input#date-input.date-input{"date-input": true, "ng-model": "filters.moveDate", "ng-change": "filters.dateChanged()", "placeholder": "Any Date"}

      -# price min/max filter (`priceFilter` directive)
      .filter.price-filter
        %label{for: "price-slider"} Price Range
        #price-slider.price-slider{"price-input": true}

      -# search submit & clear buttons
      .filter.filter-actions
        %button.btn.search-button.solid{"ng-click": "filters.submit()"} Search
        %button.btn.reset-button{"ng-click": "filters.clear()"}
          %i.far.fa-times-circle
          Clear

    -# breadcrumb nav buttons
    .fpb__breadcrumbs{"ng-controller": "CrumbController as crumbs", "ng-show": "crumbs.crumbList.length > 0", "ng-cloak": true}
      %button.btn.crumb{"ng-repeat": "crumb in crumbs.crumbList track by $index", "ng-click": "crumbs.returnClick(crumbs.depth - $index, crumb.evt)", "ng-bind-html": "crumb.title"}


  -# contains loader, search results list, floor / floorplan navigation, units list, and units view
  .fpb__lower

    -# animated loader
    .fpb__loader{"ng-controller": "LoaderController as loader", "ng-show": "loader.isVisible"}
      = include "../images/fpb/svg/fpb-loader.svg"

    -# list of unit results based on filters search from fpb__upper
    .fpb__search-results{"ng-controller": "ResultsController as results", "ng-show": "results.isVisible", "ng-init": "results.getData()"}

      %h3.results-total {{ results.visibleUnits }} {{ results.visibleUnits !== 1 ? 'Results' : 'Result' }}

      .results-list
        .result__item.no-results{"ng-show": "results.visibleUnits === 0"}
          %p No units match the current active filters

        .result__item{"ng-repeat": "unit in results.filteredUnits track by unit.id"}
          .item__image
            %a{"ng-href": "{{ ::unit.floorplan.image }}", "modal": true}
              %img{"ng-src": "{{ ::unit.floorplan.image }}"}
          .item__data
            %h4 {{ ::unit.name }}
            %ul
              %li {{ ::unit.floorplan.sqft }} sqft
              %li {{ ::unit.floorplan.bedrooms }} bed / {{ ::unit.floorplan.bathrooms }} bath
              %li {{ ::unit.price | currency:undefined:0 }}
              %li {{ ::unit.floor_num | numOrdinal }} Floor
              %li {{ ::unit.bldg }}
              %li
                %span{"ng-if": "unit.is_available && !unit.available_on"} Available Now
                %span{"ng-if": "!unit.is_available && unit.available_on"} Available: {{ ::unit.available_on }}
                %span{"ng-if": "!unit.is_available && !unit.available_on"} Unavailable
          .item__actions
            -# not sure what this should do, data-wise
            %a.btn.solid{"ng-href": "{{ unit.floorplan.apply_now_url }}", "ng-if": "unit.floorplan.apply_now_url"} Apply Now
            %button.btn{"ng-click": "results.pickUnit(unit, $index)"} View Details


    -# manually navigate through buildings, floors, and units to view data
    .fpb__visual-nav{"ng-controller": "VisualPathController as visNav", "ng-show": "visNav.isVisible"}

      -# list of property buildings to click through
      .fpb__building-nav{"ng-controller": "BuildingNavController as bldgNav", "ng-show": "bldgNav.isVisible"}
        %h2 Select Building
        = include "modules/floor-plan-browser/includes/building-nav.svg"

      -# list of floors visible once a building is chosen
      -# `select` is for mobile, `floor-navigator` is for desktop
      .fpb__floor-nav{"ng-controller": "FloorNavController as floorNav", "ng-show": "floorNav.isVisible"}
        %h2 Select Floor &amp; Unit
        %select{"ng-model": "floorNav.selectedFloor", "ng-options": "floor.value as floor.name for floor in floorNav.floors", "ng-change": "floorNav.floorDropdownClick()"}
          %option{selected: true, value: ""} Select Floor

        -# `floorNavigator` directive instantiation
        .floor-navigator{"floor-navigator": true, "asset-path": "#{bldg_files_dir}"}

      -# visual map of units per floor
      -# looks for list of html files containing SVG and automatically builds
      -# them into a functional, interactive SVG element
      .fpb__plan-nav{"ng-controller": "PlanNavController as planNav", "ng-init": "planNav.floorplanList()", "ng-show": "planNav.isVisible"}
        %h3.floor-number {{ planNav.currFloor | numOrdinal }} Floor

        -# `planNavigator` directive instantiation
        .plan-navigator{"plan-navigator": "#{bldg_files_dir}"}

      -# non-SVG list of units for the current floor of the current building
      -# should be identical to `planNav` in terms of data
      .floor-units-list{"ng-if": "visNav.showUnitsList", "hover-highlight": true}
        .table__headings
          %span Building
          %span Floor
          %span Unit
          %span Bed/Bath
          %span Sqft
          %span Availability
          %span Price
          %span Actions

        -# figure out adding 'visible' class to first row...
        .table__row{"ng-repeat": "unit in visNav.unitList track by unit.id", "data-group": "{{ ::unit.unit_num }}", "ng-attr-id": "unit-{{ ::unit.unit_num }}", "title": "{{ ::unit.name }}", "data-status": "{{ unit.is_available && !unit.available_on ? ' | Available' : null }}", "ng-click": "visNav.toggleAccordions($event)"}
          .row__content
            .cell{title: "Building"} {{ visNav.building }}
            .cell{title: "Floor"} {{ ::unit.floor_num }}
            .cell{title: "Unit"}
              {{ ::unit.name }}
              %span.tag{"ng-if": "unit.gallery.length > 0"} views
            .cell{title: "Bed/Bath"} {{ ::unit.beds }} / {{ ::unit.baths }}
            .cell{title: "Sqft"} {{ ::unit.sqft }}
            .cell{title: "Availability"}
              %span{"ng-if": "unit.is_available && !unit.available_on"} Available Now
              %span{"ng-if": "!unit.is_available && unit.available_on"} Available: {{ ::unit.available_on }}
              %span{"ng-if": "!unit.is_available && !unit.available_on"} Unavailable

            .cell{title: "Price"} {{ ::unit.price | currency:undefined:0 }}
            .cell{title: "Actions"}
              %button.btn{"ng-click": "visNav.pickUnit(unit, $index)"} Details

    -# view for displaying individual unit data / details
    .fpb__unit-view{"ng-controller": "UnitInfoController as currUnit", "ng-show": "currUnit.isVisible"}

      -# prev button / unit x of x / next button
      .unit-prev-next{"ng-if": "(currUnit.hasPrevUnit || currUnit.hasNextUnit) && currUnit.soloUnitNav"}
        %button.btn{"ng-disabled": "!currUnit.hasPrevUnit", "ng-click": "currUnit.nextPrevClick('prev')"}
          %i.fas.fa-arrow-left

        %span
          %i.fal.fa-th-large
          {{ currUnit.unitData.idx + 1 }} / {{ currUnit.srcLength }}

        %button.btn{"ng-disabled": "!currUnit.hasNextUnit", "ng-click": "currUnit.nextPrevClick('next')"}
          %i.fas.fa-arrow-right

      %h3.unit-name-sm {{ currUnit.unitData.name }}

      .unit-image
        %a{"ng-href": "{{ currUnit.floorplanData.image }}", "modal": true}
          %img{"ng-src": "{{ currUnit.floorplanData.image }}"}

      .unit-info
        .unit-name
          %h3 {{ currUnit.unitData.name }}

        .unit-details
          %ul
            %li.unit-ft {{ currUnit.floorplanData.sqft }} sqft
            %li.unit-bedbath {{ currUnit.floorplanData.bedrooms }} Bed / {{ currUnit.floorplanData.bathrooms }} Bath
            %li.unit-rent {{ currUnit.unitData.price | currency:undefined:0 }}
            %li.unit-floor {{ currUnit.unitData.floor_num | numOrdinal }} Floor
            %li.unit-bldg {{ currUnit.unitData.bldg }}
            %li.unit-available
              %span{"ng-if": "currUnit.unitData.is_available && !currUnit.unitData.available_on"} Available Now
              %span{"ng-if": "!currUnit.unitData.is_available && currUnit.unitData.available_on"} Available: {{ currUnit.unitData.available_on }}
              %span{"ng-if": "!currUnit.unitData.is_available && !currUnit.unitData.available_on"} Unavailable

        .unit-cta{"ng-if": "currUnit.floorplanData.brochure_pdf || currUnit.unitData.address"}
          %a.link.w-icon{"ng-href": "{{ currUnit.unitData.address }}", "ng-if": "currUnit.unitData.address && currUnit.unitData.address.length > 0", "modal": true, "modal-type": "iframe"}
            %i.far.fa-eye
            Take Virtual Tour
          %a.link.w-icon{"ng-href": "{{ currUnit.floorplanData.brochure_pdf }}", title: "Save A PDF", target: "_blank", download: true, "ng-if": "currUnit.floorplanData.brochure_pdf"}
            %i.fas.fa-arrow-alt-to-bottom
            Download PDF

        .unit-apply{"ng-if": "currUnit.floorplanData.apply_now_url"}
          -# still not positive what this should do...
          %a.btn.solid{"ng-href": "{{ currUnit.floorplanData.apply_now_url }}", title: "Apply Now", target: "_blank"} Apply Now

        .unit-description{"ng-if": "currUnit.unitData.description.length > 0"}
          %h4 More About This Unit
          %p {{ currUnit.unitData.description }}

        .unit-gallery{"ng-if": "currUnit.unitData.gallery.length > 0", "modal": true, "modal-type": "gallery"}
          %h4 Apartment Photos
          .gallery-images
            %a{"ng-href": "{{ photo.url }}", "ng-repeat": "photo in currUnit.unitData.gallery"}
              %img{"ng-src": "{{ photo.url_thumb }}"}